# IPvGO bridge config (RTX 2070 class GPU, boards up to 13x13).

numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 12
nnMaxBatchSize = 24
maxBoardXSizeForNNBuffer = 13
maxBoardYSizeForNNBuffer = 13

nnCacheSizePowerOfTwo = 20

logSearchInfo = false
logToStdout = false
logToStderr = true
logAllRequests = false
logAllResponses = false

reportAnalysisWinratesAs = BLACK
